/**
 * Created by Ryan on 18/05/2017.
 */

/**
 * Sticky footer
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/**
 * Style for logo
 */
#logo{
    padding-left: 20px;
    padding-right: 20px;
}

/**
 * style for parralax
 */
.parallax-container {
    height: 400px;
}

/**
 * Style voor volg ons footer
 */
#volgonsfooter{
    line-height: 180%;
}

/**
 * Style voor nieuws footer
 */
#nieuwsfooter{
    line-height: 180%;
}

/**
 * Style voor slogans
 */
#bigslogan{
    text-align: center;
    padding-top: 4%;
}

#smallslogan{
    text-align: center;
    padding-top: 1%;
}